h3 {
  padding: 5px;
}

.color-spectrum {
  &__header {
    box-sizing: border-box;
    padding: 10px 15px;
    height: 60px;
    background-color: #3a7999;

    &__back-button {
      font-size: 16px;
      height: 100%;
      width: 150px;
    }
  }

  &__title {
    text-align: center;
    padding-top: 30px;
  }

  &__templates {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
  }

  &__template {
    border: 1px solid #ccc;
    width: 480px;
    height: 320px;
    margin: 10px;
    border-radius: 15px;
  }

  &__layout {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__description {
    padding: 5px;
    width: 470px;
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
  }

  &__button {
    height: 30px;
  }


}

